<div class="row">
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", :controller => "/home" %>
      <span class="divider">/</span>
    </li>
    <li class="active">Services</li>
  </ul>
</div>
<div class="row">
  <div class="span12" id="content">
    <h2><span class="orange">Agile</span> Services</h2>
    <div class="row">
      <div class="span9 offset1">
        <p>At BlueHead, we can use our products and expertise to help you manage the complexities of manuscript conversion, distribution, release schedules, revisions and all that goes into getting your book to market.</p>
        
        <p><strong>For Publishers & Authors</strong> we offer a completely non-traditional package:</p>
        <ol>
          <li>You take 75% of all of your royalties,</li>
          <li>You own 100% of your work and rights,</li>
          <li>Your contract with us is semi-exclusive, you can cancel at any time.</li>
        </ol>

        <p><strong>For Publishers</strong> we offer training, helping them slowly move their publishing toolchains and flows to more agile types of publishing.</p>

        <p>If you would like more information, just go to our <%= link_to "contact page", :controller => :contact_us %> and let us know!</p>
      </div>
    </div>
  </div>
</div>
