<div class="row">
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", :controller => "/home" %>
      <span class="divider">/</span>
    </li>
    <li class="active">Services</li>
  </ul>
</div>
<div class="row">
  <div class="span12" id="content">
    <h2><span class="orange">Agile</span> Services</h2>
    <p style="text-align:center;"><%= image_tag "Products-Splash.png", :title => "Products", :class => "class" %></p>
    <div class="row">
      <div class="span11 offset1">
        <p>At BlueHead, we can use our products and expertise to help you manage the complexities of manuscript conversion, distribution, release schedules, revisions, web-driven sales (with Bookcloud) and education about agile book publishing.</p>
        <p>We offer training for publishing companies, helping them slowly move their publishing toolchains and flows to more agile types of publishing.</p>
        <p>If you would like more information, just go to our contact page and let us know!</p>
      </div>
    </div>
  </div>
</div>
