<div class="row">
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", :controller => "/home" %>
      <span class="divider">/</span>
    </li>
    <li class="active">About Us</li>
  </ul>
</div>
<div class="row">
  <div class="span12" id="content">
    <h2><span class="orange">About</span> Us</h2>
    <p style="text-align:center;"><%= image_tag "bluehead.gif", :title => "BlueHead", :class => "class" %></p>
    <div class="row">
      <div class="span11 offset1">
        <p>We are a Tacoma, WA (just south of Seattle) startup. We come from a software background, working in agile development workflows. So when we came into the publishing industry, we decided that we would try to bring the best of the agile world into the best of the publishing world.</p>
        <p>Our name is actually our founding member, Dave Thompson's, old football nickname.</p>

        <p>The story starts with Dave's very first practice for the very first team he ever played on in "Little-League Grizzly Football" in Missoula, MT. On that first day he showed up to be fitted for his equipment. When it came time to be fitted for his helmet, there were none that seemed to fit his remarkably huge cranium. The only one that fit was a bright blue helmet (everyone else's was white). As you can guess it, that day the coach started calling him "BlueHead," as did the rest of the team.</p>

        <p>Because BlueHead Publishing's goal was to be unique in the publishing world by bringing agile tools and practices to the publishing world, we thought the idea of an oddly blue head amidst a sea of white fit well.</p>
      </div>
    </div>
  </div>
</div>
