<div class="row">
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", :controller => "/home" %>
      <span class="divider">/</span>
    </li>
    <li class="active">About Us</li>
  </ul>
</div>
<div class="row">
  <div class="span11" id="content">
    <h2><span class="orange">About</span> Us</h2>
    <div class="row">
      <div class="span9 offset1">
        <h4>Our Background</h4>
        <p>We are a Tacoma, WA (just south of Seattle) startup. We come from a software background, working in agile development workflows. So when we came into the publishing industry, we decided that we would try to bring the best of the agile world into the best of the publishing world.</p>
        
        <h4>Our Mission</h4>
        <p>To prepare publishing for tomorrow with solutions for today.</p>

        <h4>Our Founder</h4>
        <%= image_tag("dave_headshot.jpg") %>
        <p>Dave Thompson founded D.a. Productions in 2009 which later turned into BlueHead Publishing. Dave is an author, speaker and a bit of a teckno-nerd (but we still love him). His website can be found <a href="http://davethompsonsite.com" target="_blank">here</a>.</p>
        
        <h4>Our Name</h4>
        <p>Our name is actually our founding member, Dave Thompson's, old football nickname.</p>

        <p>As the story goes, Dave went to his very first practice for "Little-League Grizzly Football" in Missoula, MT. On that first day he showed up to be fitted for his equipment. When it came time to be fitted for his helmet, there were none that seemed to fit his remarkably huge cranium. The only one that fit was a bright blue helmet (everyone else's was white). As you can guess it, that day the coach started calling him "BlueHead," as did the rest of the team.</p>

        <p>Because BlueHead Publishing's goal was to be unique in the publishing world by bringing agile tools and practices to the publishing world, we thought the idea of an oddly blue head amidst a sea of white fit well.</p>
      </div>
    </div>
  </div>
</div>
