<div class="row">
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", :controller => "/home" %>
      <span class="divider">/</span>
    </li>
    <li class="active">Contact Us</li>
  </ul>
</div>
<div class="row">
  <div class="span12" id="content">
    <h2><span class="orange">Contact</span> Us</h2>
    <div class="row">
      <div class="span11 offset1">
        <p>&nbsp;</p>
        <h4>Our Office</h4>
        <hr />
        <address>902 S Market St, Suite 311<br />
           Tacoma, WA 98402</address>
        <p>206-819-0269</p>
        <p><%= mail_to "info@blueheadpublishing.com", "info@blueheadpublishing.com", :encode => "javascript" %></p>
      </div>
    </div>
  </div>
</div>

