<div class="row">
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", :controller => "/home" %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "Products", :controller => "/products" %>
      <span class="divider">/</span>
    </li>
    <li class="active">Bookskills</li>
  </ul>
</div>
<div class="row">
  <div class="span3">
    <ul class="nav nav-list" id="subnav">
      <li class="nav-header">
        Products
      </li>
      <li>
        <a href="/products/bookshop"><i class="icon-book"></i>Bookshop</a>
      </li>
      <li>
        <a href="/products/bookcloud"><i class="icon-arrow-up"></i>Bookcloud</a>
      </li>
      <li>
        <a href="/products/bookskills"><i class="icon-user"></i>Bookskills</a>
      </li>
    </ul>
  </div>
  <div class="span9" id="content">
    <h2><span class="orange">Agile</span> Publishing Connections</h2>
    <p style="text-align:center;"><%= image_tag "skills_splash.png", :title => "Bookskills", :class => "class" %></p>
    <p>We are currently building a directory of publishers, artists, designers, editors, authors, publicists, bloggers and other people in the publishing industry. We plan to release this product by the end of the year.</p>
  </div>
</div>

